<!-- review section starts  -->

<section class="review" id="review">

    <h1 class="heading"> customer's <span>review</span> </h1>

    <div class="box-container">

        <div class="box">
            <img src="assets/images/quote-img.png" alt="" class="quote">
            <p>Coffe aroma is too good, the taste is awesome.sweetness i stoo good.</p>
            <img src="assets/images/pic-1.png" class="user" alt="">
            <h3>akhil</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>

        <div class="box">
            <img src="assets/images/quote-img.png" alt="" class="quote">
            <p>The mouth watering scent of brewered coffee. </p>
            <img src="assets/images/pic-2.png" class="user" alt="">
            <h3>sushmitha</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>
        
        <div class="box">
            <img src="assets/images/quote-img.png" alt="" class="quote">
            <p>The taste sensation that liners on the tongue after drinking the coffee.</p>
            <img src="images/pic-1.png" class="user" alt="">
            <h3>manju</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>

    </div>

</section>

<!-- review section ends -->
