<section class="about" id="about">

    <h1>About Us</h1>

    <div class="row">

        <div class="image">
            <img src="assets/images/about-img.jpeg" alt="">
        </div> 
    
        <div class="content">
            <h3>what makes our coffee special?</h3>
            <p>It Means That The Coffee Quality Is Beyond The Final Product Served On Your Cup. Its Quality Springs From The Start The Type Of Coffee Beans Grown, The Region, Roasting, And Brewering, Down To The Actual Coffee Served Right Under Your Nose.</p>
        
        </div>

    </div>

</section>

<!-- about section ends -->

